<div id="<%= dom_id pet %>">
  <p>
    <strong>Client:</strong>
    <%= pet.client.name %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= pet.name %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= pet.race %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= pet.birthdate %>
  </p>
<th>
    <strong>Historial:</strong> <%=pet.q_history%>
  </th>
  <td>
    <% pet.pet_histories.each do |p|%>
      <ul>
        <li>Peso:<%= p.weight %>/Altura:<%= p.height%></li>
      </ul>
    <%end%>
  </td>
   
</div>
